<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="In_conf" value="0" />
    <add key="Out_conf" value="0" />
    <add key="InOutMode" value="*" />
    <add key="In_addr" value="192.168.1.1" />
    <add key="Out_addr" value="http://" />
    <add key="In_port" value="80" />
    <add key="Out_port" value="8080" />
    <add key="In_user" value="admin" />
    <add key="Out_user" value="admin" />
    <add key="In_pwd" value="*" />
    <add key="Out_pwd" value="*" />
  </appSettings>
</configuration>